<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPersonalCrossword">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|navigation|smallestScreenSize|uiMode|density|fontScale|locale|layoutDirection|fontWeightAdjustment|colorMode"
            android:screenOrientation="portrait"
            android:resizeableActivity="false"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyPersonalCrossword">
            <!-- Android 16 (targetSdk 36) ignores screenOrientation and
                 resizeableActivity on displays of 600dp or wider. The game is
                 designed portrait-only, so opt out while that is still allowed.
                 This temporary opt-out stops working at targetSdk 37. -->
            <property
                android:name="android.window.PROPERTY_COMPAT_ALLOW_RESTRICTED_RESIZABILITY"
                android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>